<div>
    <h1 style="padding-left: 50px;">Select a room</h1>
    <div class="col-lg-5">
        <h3>Started games</h3>
        <div class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</div>
    </div>
    <div class="col-lg-5">
        <h3>Waiting games</h3>
        <div class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</div>
        <div class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</div>
    </div>
</div>