<!DOCTYPE html>
<html>
<head>
    <title>PubzQwuisz</title>
    <link href="library/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet"/>
    <link href="library/bootstrap-3.2.0/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="css/pubQuiz.css" rel="stylesheet">
    <link href="css/modals.css" rel="stylesheet">

    <script src="library/jquery-2.1.1.js"></script>
    <script src="library/bootstrap-3.2.0/js/bootstrap.js"></script>
    <script src="library/angular.js"></script>
    <script src="https://code.angularjs.org/1.2.16/angular-route.min.js"></script>
    <script src="js/Quizzer.js"></script>
    <script src="js/websocketConnection.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>
<body ng-app="QuizzerApp">
<div class="navbar navbar-default" ng-controller="menuControl" >
    <div ng-repeat="menu in menuItems">
        <a class="navbar-brand" href='#/{{menu.LinkText}}' ng-click="toggleSelected(menu)"
           ng-class="{selectedMenuItem : isCurrentPage(menu)}">
            {{menu.Title}}
        </a>
    </div>
</div>


<div ng-view></div>

<!--<div class="panel panel-default row">-->

<!--</div>-->

</body>
</html>
