@media screen and (max-width: 790px) {
    #mobileHide {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}

.modalInput{
width: 100%;
}

.modalSubmit {
    margin-bottom: 0;
}

.selectedMenuItem {
    font-weight: bolder;

}

.questionInfo{
    text-align: center;
}

.submitAnswer{
    margin-top: 0;
}

.answerField{
    margin-top: 3%;
}