@media screen and (max-width: 790px) {
    #mobileHide {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}

.modalInput{
width: 100%;
}

.modalSubmit {
    margin-bottom: 0;
}

.selectedMenuItem {
    font-weight: bolder;

}

.questionSelected{
    background-color: #428bca;
    font-weight: bolder;
}


.questionInfo{
    text-align: center;
}

.submitAnswer{
    margin-top: 0;
}

.answerField{
    margin-top: 3%;
}

.joinRequestBox{
    border: 1px solid black;
    background-color: #e2e3ff;
    text-align: center;
}

.selectedCategory{
    background-color: #dddddd;
}

.correctAnswer{
    border: solid black 1px;
    background-color: mediumspringgreen;
}