<h3 class="questionInfo">Round 3</h3>
<h3 class="questionInfo">Question 6/12</h3>
<h3 class="questionInfo"> Which city has the largest population?</h3>

<div class="col-lg-3"></div>

<div class="col-lg-6 answerField">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Your Answer: " ng-model="answer">
      <span class="input-group-btn">
        <input class="btn btn-primary submitAnswer" type="submit" value="Submit" ng-click="submitAnswer()">
      </span>
    </div>
</div>

<div class="col-lg-12">
   <div ng-show="answered" id="submitResponse" class="questionInfo"></div>
</div>

<div class="col-lg-3"></div>
