<div class="col-lg-12">
    <h1>Select a room</h1>
    <div class="col-lg-5">
        <h3>Started games</h3>
        <button class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room" ng-click="" >"Room name"<br> Teams: 5/6</button>
    </div>
    <div class="col-lg-5">
        <h3>Waiting games</h3>
        <button class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</button>
        <button class="btn-primary col-lg-11 room">"Room name"<br> Teams: 5/6</button>
    </div>
</div>