<div class="col-lg-12" ng-show="roomSelected">
    <h1>Select a room</h1>
    <div class="col-lg-12">
        <h1>Rooms:</h1>

        <button ng-repeat="room in rooms" class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  ng-click="openSpecRoom(room)">{{room._id}}<br> Teams: {{room.teams.length}}/6</button>

    </div>
</div>
<div ng-hide="roomSelected">
    <div class="col-lg-10">
        <h2 class="questionInfo">Current room: {{currentRoom._id}}</h2>
        <h3 class="questionInfo">Round {{currentRoom.roundNr}}</h3>
        <h3 class="questionInfo">Question {{currentRoom.questionNr}}/12</h3>
        <h3 class="questionInfo">{{selectedQuestion.question}}</h3>

        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1>Participating teams</h1>
            <div class="col-lg-6">
                <h3>Teams submitted</h3>
                <form name="validateAnswers">
                    <div class="col-lg-12" ng-repeat="teamSubmit in teamsSubmitted"><input name="{{teamSubmit.teamName}}" type="checkbox">{{teamSubmit.teamName}} - "Answer"</div>
                </form>
            </div>
            <div class="col-lg-6">
                <h3>Teams answering</h3>
                <div class="col-lg-12" ng-repeat="teamWaiting in teamsSubmitting">{{teamWaiting.teamName}}</div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <h2>Teamscores</h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="team in currentRoom.teams">{{team.teamName}} - {{team.score}}</li>

        </ul>
    </div>
    <button class="btn-primary col-lg-2 col-lg-push-4" ng-click="closeSpecRoom()">Back to lobby</button>
</div>