<div class="col-lg-10 col-md-9 col-sm-8 col-xs-8">
<h3 class="questionInfo">Round {{currentRoomData.roundNr}}</h3>
<h3 class="questionInfo">Question {{currentRoomData.questionNr}}/12</h3>
<h3 class="questionInfo">{{selectedQuestion.question}}</h3>
<h3 class="questionInfo">{{selectedQuestion.answer}}</h3>

<div class="col-lg-8 col-lg-offset-2 text-center">
    <h1>Participating teams</h1>
    <div class="col-lg-6">
        <h3>Teams submitted</h3>
        <form name="validateAnswers">
            <div class="col-lg-12" ng-repeat="teamSubmit in teamsSubmitted"><input name="{{teamSubmit.teamName}}" type="checkbox">{{teamSubmit.teamName}}: {{teamSubmit.answer}}</div>
        </form>
    </div>
    <div class="col-lg-6">
        <h3>Teams answering</h3>
        <div class="col-lg-12" ng-repeat="teamWaiting in teamsSubmitting">{{teamWaiting.teamName}}</div>
    </div>
</div>


<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>

<button class=" btn-primary col-lg-6 col-md-8 col-sm-10 col-xs-12"><br><h1>END QUESTION</h1><br><br></button>
</div>

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
    <h2>Teamscores</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="team in currentRoomData.teams">{{team.teamName}} - {{team.score}}</li>
    </ul>
</div>