<!--<div class="col-lg-2">
    <h1>Current rooms:</h1>
    <div class="breadcrumb">"Room name"<br> Teams: 5/6</div>
    <div class="breadcrumb">"Room name"<br> Teams: 5/6</div>
    <div class="breadcrumb">"Room name"<br> Teams: 5/6</div>
    <div class="breadcrumb">"Room name"<br> Teams: 5/6</div>
    <div class="breadcrumb">"Room name"<br> Teams: 5/6</div>
</div>-->
<div class="col-lg-10">
    <h1>Create new room</h1>
    <h3>Roomname</h3>
    <input class="input-lg" type="text" ng-model="roomName">
    <h3>Room pass</h3>
    <input class="input-lg" type="password" ng-model="roomPass"><br>
    <h3>Admin pass</h3>
    <input class="input-lg" type="password" ng-model="adminPass"><br>
    <input class="btn-primary" type="submit" value="Create" ng-click="createRoom()">
</div>