<div class="col-lg-10 col-md-9 col-sm-8 col-xs-8">
    <h3 class="questionInfo">Round 3</h3>
    <h3 class="questionInfo">Question 6/12</h3>

    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1>Select next question</h1>
            <div id="accordion">
                <h3>Catagorie 1</h3>
                <div>
                    <p>
                        <ul>
                            <li>Question 1</li>
                            <li>Question 2</li>
                            <li>Question 3</li>
                            <li>Question 4</li>
                        </ul>

                    </p>
                </div>
                <h3>Catagorie 2</h3>
                <div>
                    <p>
                        <ul>
                            <li>Question 1</li>
                            <li>Question 2</li>
                            <li>Question 3</li>
                            <li>Question 4</li>
                        </ul>
                    </p>
                </div>
                <h3>Catagorie 3</h3>
                <div>
                    <p>
                        <ul>
                            <li>Question 1</li>
                            <li>Question 2</li>
                            <li>Question 3</li>
                            <li>Question 4</li>
                        </ul>

                    </p>
                </div>
            </div>
    </div>


    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>

    <button class=" btn-primary col-lg-6 col-md-8 col-sm-10 col-xs-12"><br><h1>Start</h1><br><br></button>
</div>

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
    <h2>Teamscores</h2>
    <ul class="list-group">
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>

    </ul>
</div>