<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
    <h3 class="questionInfo">Round 1</h3>
    <h3 class="questionInfo">Question 1/12</h3>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1>Select next question</h1>
            <div id="accordion">
                <h3 ng-bind="cat1Name"></h3>
                <div>
                    <ul class="list-group">
                        <li ng-repeat="question in cat1" class="list-group-item" ng-click="selectQuestion()" ng-class="{questionSelected: isSelectedQuestion()}">{{question.question}}</li>
                    </ul>
                </div>
                <h3 ng-bind="cat2Name"></h3>
                <div>
                    <ul class="list-group">
                        <li ng-repeat="question in cat2" class="list-group-item" ng-click="selectQuestion()" ng-class="{questionSelected: isSelectedQuestion()}">{{question.question}}</li>
                    </ul>
                </div>
                <h3 ng-bind="cat3Name"></h3>
                <div>
                    <ul class="list-group">
                        <li ng-repeat="question in cat3" class="list-group-item" ng-click="selectQuestion()" ng-class="{questionSelected: isSelectedQuestion()}">{{question.question}}</li>
                    </ul>
                </div>
            </div>
    </div>


    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>

    <button class=" btn-primary col-lg-6 col-md-8 col-sm-8 col-xs-8"><br><h1>Start</h1><br><br></button>
</div>

<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4" id="mobileHide">
    <h2>Teamscores</h2>
    <ul class="list-group">
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>
        <li class="list-group-item">"teamname" - "score"</li>

    </ul>
</div>