<div class="col-lg-12">
    <h1>Open rooms:</h1>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
    <button class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  data-toggle="modal" data-target="#myModal">"Room name"<br> Teams: 5/6</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Join Quizroom</h4>
            </div>
            <div class="modal-body" ng-model="data">
                <label >Enter Team name:</label><br>
                <input ng-model="teamName" type="text" class="modalInput input-sm"><br>
                <label >Enter Password:</label><br>
                <input ng-model="password" type="password" class="modalInput input-sm"><br>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary modalSubmit" data-dismiss="modal">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
