<div class="col-lg-12">
    <h1>Open rooms:</h1>

    <button ng-repeat="room in rooms" class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  ng-click="openModal(room._id)">{{room._id}}<br> Teams: {{room.teams.length}}/6</button>

</div>


<div id="fade" ng-show="showModal"></div>
<div id="overlay" ng-show="showModal">
        <div class="header">
            <h4></h4>
        </div>
        <div class="modalContent">
            <label >Enter Team name:</label><br>
            <input ng-model="teamName" type="text" class="modalInput input-sm"><br>
            <label >Enter room password:</label><br>
            <input ng-model="password" type="password" class="modalInput input-sm"><br>
        </div>
        <div class="footer">
            <div class="pull-right">
                <button ng-click="showModal = false" class="btn btn-default">Cancel</button>
                <button ng-click="applyToRoom(teamName, password)" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
