<div class="col-lg-12">
    <code ng-show="rejectedJoin">You have not been accepted!</code>
    <h1>Open rooms:</h1>
    <button ng-repeat="room in rooms" class="btn-primary col-lg-2 col-md-3 col-sm-5 col-xs-11 room"  ng-click="openModal(room._id, room.teams)">{{room._id}}<br> Teams: {{room.teams.length}}/6</button>

</div>


<div id="fade" ng-show="showModal"></div>
<div id="overlay" ng-show="showModal">
        <div class="header">
            <h4>{{roomId.id}}</h4>
        </div>
    <div class="modalContent">
        <div class=" col-lg-7">
            <label >Enter Team name:</label><br>
            <input ng-model="teamData.teamName" type="text" class="modalInput input-sm"><br><br>
            <label >Enter room password:</label><br>
            <input ng-model="password" type="password" class="modalInput input-sm"><br>
        </div>
        <div class=" col-lg-5">
            <b>Team list: </b>
            <ol>
                <li ng-repeat="team in teamsInRoom">{{team.teamName}}</li>
            </ol>
        </div>
    </div>
        <div class="footer">
            <div class="pull-right">
                <button ng-click="closeModal()" class="btn btn-default">Cancel</button>
                <button ng-click="applyToRoom(teamData.teamName, password)" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
